mbd.egg-info/
**/__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw
*.pyzwz
results/

mbd/assets/cartpole.xml
mbd/assets/humanoidrun.xml
mbd/assets/humanoidstandup.xml
mbd/assets/humanoidtrack.xml
mbd/assets/jog_xref.pkl
mbd/assets/pushT.xml
mbd/assets/walk_xref.pkl
mbd/blackbox/
mbd/envs/cartpole.py
mbd/envs/hopper.py
mbd/envs/humanoidrun.py
mbd/envs/humanoidstandup.py
mbd/envs/humanoidtrack.py
mbd/envs/pushT.py
mbd/envs/walker2d.py
mbd/notebooks/
mbd/rl/
mbd/scripts/vis_manim.py